@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor-horizontal-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.anchor-horizontal-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anchor-horizontal-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.anchor-vertical-top {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.anchor-vertical-center {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anchor-vertical-bottom {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

