@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'anchoring.css';



.threeDcomp {
    will-change: transform;
    transform: perspective(1000px) rotateX(0deg) rotateY(45deg) scale3d(1.05, 1.05, 1.05) skewY(2.5deg);
}




.body-structure {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3rem 1fr 3rem;
    gap: 1px;
}

.main-structure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1px;
}
/*className='flex flex-col w-full h-full'*/
/*className='flex-auto first:flex-0 last:flex-0'*/
/*where is nth child in tailwind???*/
.main-structure > :nth-child(2) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    overflow-y: auto;
}

.centered {
    display: flex;
    flex-direction: column;
    place-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: monospace;
    text-decoration: none;
}
